@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.active {
    display: none;
}

header{
    min-height: 10em;
    background-image: url("../images/cb.jpg");
    background-size: cover;
    /* position: absolute; */
    background-repeat: no-repeat; 
    background-position-y:40%;
}

/* header::before {
    /* content: ""; */


.header_content {
    display: flex;
    align-items: center;
    /* position: relative; */
}

/* Dropdown Menu */
nav {
    position: relative;
    display: inline-block;
    justify-self: flex-start;
    margin: 5px;
}

nav ul {
    display: none;
    position: absolute;
    background-color: pink;
    z-index: 1;
}

nav ul li {
    width: 12em;
    padding: 10px;
    margin: 3px;
    border: 2px solid blueviolet;
    color: black;
    background-color: lightblue;
    text-align: center;
    display: block;
}

nav ul li:hover {
    background-color: orange;
}

nav:hover ul {
    display: block;
}

nav:hover .dropdown {
    background-color: green;
}
/* End Dropdown Menu */

.header_content > h1 {
    text-align: center;
    letter-spacing: 10px;
    display: inline-block;
    width: 100%;
}

.dropdown {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

a:visited{
    color: inherit;
}

a.skip {
    position: absolute;
    left: -500px;
    background-color: white;
}

a.skip:focus {
    position: fixed;
    left: 0px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    font-family: 'Space Mono', monospace, Verdana, sans-serif;
    text-transform: uppercase;
}

h2 {
    margin: 5px 5px 5px 5px;
    font-size: 30px;
    font-family: 'Space Mono', monospace, Verdana, sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin: 5px 5px 5px 2px;
    margin-top: 20px;
}

.right {
    margin-left: 50%;
    width: 100%
}

div h2{
    width: 50%;
}

p {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 5px;
    width: 50%;
}

footer {
    background-color: rgb(176, 214, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    width: 5em;
}

.copy{
    text-align: center;
}

.skill{
    display: inline;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    position: relative;
    width: 150px;
    height: 150px;
}

.skill_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: rgb(140, 140, 140);
    opacity: 0;
    color: #fff;
    visibility: hidden;
    text-align: center;
}

.skill:hover .skill_description {
    visibility: visible;
    opacity: 100%;
}

.logo {
    height: 1em;
}

main {
    /* background-color: rgba(134, 47, 177, 0.372); */
    padding: 10px;
    overflow:hidden;
}

.intro {
    width: 90%;
    font-size: 16px;
    background-color: white;
    border: 2px dashed black;
    padding: 5px;
    margin: 5px;
}

/* .me:nth-child(odd):hover {
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    width: 400px;
    padding: 0px;
}

div img:nth-child(even):hover {
    margin-left:50px;
}

div img {
    padding: 4px;
    border: 2px dashed black;
}

div img:nth-child(odd) {
    border-radius: 15%;
}

.work_img  {
    padding: 2px;
    border: 1px solid black;
    margin: 5px;
}

.work_img:hover {
    padding:10px;
    border: 10px solid white;
    width: 400px;
} */